* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #919191;
  background-color: #232323;
}
.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
.row1,
.row1 a {
  color: #c0bab6;
  background: #333333;
}
#header {
  padding: 20px 0;
  width: 54%;
  margin: 0 auto;
  overflow: auto;
}
#hgroup {
  float: left;
  margin: 0 0 20px 0;
}

#hgroup h1,
a {
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
}
#hgroup h1 a {
  font-size: 36px;
}
h2 {
  font-size: 13px;
  font-weight: normal;
}

#header nav {
  float: right;
  margin: 10px 0 0 0;
  padding: 20px 0;
  background: #232323;
}
#header nav ul {
  padding: 0 20px;
}
#header nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
}
#header nav ul li a {
  text-transform: uppercase;
  background: #232323;
}
#header nav li.last {
  margin-right: 0;
}
#container {
  width: 54%;
  margin: 0 auto;
  padding: 30px 0;
}
#slider {
  margin: 0 0 30px 0;
}
.row2 {
  color: #c0bab6;
  background: white;
}
#slider img {
  width: 100%;
  height: 360px;
}
.one_third {
  width: 31%;
  display: block;
  float: left;
  margin: 0 30px 0 0;
}
#homepage {
  overflow: auto;
}
#container #homepage #services article figure h2 {
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
}
#container #homepage #services article figure img {
  margin: 0 0 15px 0;
  padding: 4px;
  border: 1px solid #d6d6d6;
  width: 100%;
}
figcaption p {
  margin: 12px 0;
}
#container #homepage {
  line-height: 1.8em;
}
#container .more {
  text-align: right;
}
.row2 a {
  color: #ff9900;
  background-color: #ffffff;
}

#container section {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  overflow: auto;
}
#container #homepage #intro article figure img {
  float: right;
  margin: 0 0 10px 0;
  padding: 4px;
  border: 1px solid #d6d6d6;
}
#container #homepage #intro article figure figcaption {
  float: left;
  width: 460px;
}
figcaption h2 {
  font-size: 32px;
  font-style: italic;
  margin: 5px 0;
}
figcaption p {
  margin: 13px 0;
}
.row3 {
  color: #989898;
  background: #333333;
  overflow: auto;
}
#footer {
  width: 54%;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 12px;
  line-height: 1.4em;
  overflow: auto;
}
.one_quarter {
  float: left;
  width: 218px;
  margin: 0 20px 0 0;
}
#footer section h2.title {
  margin: 0 0 25px 0;
  padding: 0;
  color: #ffffff;
  background: #333333;
  font-weight: bold;
  text-transform: uppercase;
}
#footer section nav li {
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #555555;
  list-style: none;
}
.row3 a {
  color: #ff9900;
}
.lastbox {
  margin-right: 0;
}
#copyright {
  width: 54%;
  margin: 0 auto;
  padding: 20px 0;
  overflow: auto;
}
.fl_left {
  float: left;
}
.fl_right {
  float: right;
}
.row4,
.row4 a {
  color: #919191;
  background-color: #232323;
}
